body{
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}
.amrita-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .index-table {
    margin-left: auto;
    margin-right: auto;
  }
  
 tr:nth-child(even) {
  background-color: #daea8b;}
  tr:nth-child(odd) {
    background-color: #80f2ec;}
    th, td {
      font-size: 25px;
    }
  